@import "reset.css";

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 60px 0 30px;
}

body {
  font-family: "MyriadPro-Regular", sans-serif;
}

.logo {
  margin-bottom: 45px;
}

.logo-link {
  margin: 0 auto;
  font-size: 80px;
  color: #4bcaff;
  text-decoration: none;
  display: inline-block;
}

.colortext {
  color: black;
}

.navigation-top {
  text-align: center;
  background-color: #35444f;
}

.navigation-item {
  display: inline-block;
  padding: 26px 40px;
}

.navigation-item:hover {
  background-color: #222f3a;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.navigation-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 255);
  font-size: 24px;
}

.main {
  padding-top: 50px;
}

.menu-list {
  font-size: 30px;
}

.aside {
  width: 344px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.sidebar-nav-link {
  text-decoration: none;
  color: rgba(73, 88, 99, 255);
  padding: 30px 0 30px 70px;
  display: block;
}

.sidebar-nav-link:hover {
  background-color: #dbdbdb;
  color: #000000;
  padding-left: 85px;
  transition: padding-left 1s;
}

.content {
  display: inline-block;
  max-width: 879px;
  vertical-align: top;
}

.image {
  border: 1px solid black;
  height: 530px;
  text-align: center;
  margin-bottom: 50px;
}

.image img {
  display: inline-block;
  vertical-align: middle;
}

.image img:hover {
  transition: transform 2s;
}

.center {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.content p {
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left:30px;
  font-size: 18pt;
  color: rgba(44, 44, 44, 255);
  text-align: justify;

}

.footer {
  background-color: #b4b7ba;
  text-align: left;
  padding: 20px 40px;
  margin-top: 120px;
}

.footer-nav {
  max-width: 850px;
  display: inline-block;
}

.footer-nav-item {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav-link {
  text-decoration: none;
  font-size: 26px;
  color: rgba(12, 25, 39, 255);
}

.footer-nav-link:hover {
  color: #3181a6;
}

.copyright {
  display: inline-block;
  font-size: 24px;
  color: rgba(1, 1, 1, 255);
  float: right;
}

.copyright span {
  font-size: 16px;
}